<div class="container mt-4">
  <h1 class="text-center mb-4">Mes listes</h1>

  <div class="cards">





  <% @lists.each do |list| %>







    <%= link_to list_path(list) do %>
      <div class="card-product">
        <%= image_tag "#{list.name}.jpg" %>
        <div class="card-product-infos">
          <h2><%= list.name %></h2>
          <p><%= list.movies.length %> films </p>
        </div>
     </div>
    <% end %>







  <% end %>

  </div>
  <div class="mt-4 text-center">
  <%=link_to "Create a new list", lists_new_path, class: "btn btn-primary"%>
  </div>
</div>
